.page__header{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.page__header-action{
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    border-radius: var(--border-radius-2);
}

.page__header-action button{
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--gray-color-2);
    cursor: pointer;
}

.page__header-action.active{
    background-color: var(--primary-color);
}